body {
  background-color: black;
}

.navbar {
  margin: 0;
  width: 300px;
  min-height: 100vh;
  background-color: black;
  display: inline-block;
}
.svgLogo {
  width: 90px;
  color: white;
  padding-bottom: 10px;
}

.aHome {
  text-decoration: none;
  color: #b3b3b3;
}
:hover.aHome {
  color: white;
}
.div1 {
  width: 100%;
  background-color: #141415;
  border-radius: 20px;
  padding: 20px;
}
