body {
  background-color: black;
}

.svgLogo {
  width: 90px;
  color: white;
  padding-bottom: 10px;
}

.aHome {
  text-decoration: none;
  color: #b3b3b3;
}
.aHome:hover {
  color: white;
}
.div1 {
  width: 100%;
  background-color: #141415;
  border-radius: 20px;
  padding: 20px;
}

.nextBtn {
  background: rgb(40, 29, 29);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50px;
  margin-right: 5px;
}
.btnAccedi {
  background-color: white;
  border-radius: 20px;
  border: none;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

a:hover {
  color: #ffffff;
}

li {
  list-style: none;
  height: 30px;
}

main {
  background-color: #2c2c2c;
  flex-grow: 1;
}

.btn-success {
  background-color: #1db954;
}

.hero-img {
  width: 200px;
}

.aHome {
  text-decoration: none;
  color: #b3b3b3;
}
.aHome:hover {
  color: white;
}

.imgArtistAlbum {
  border-radius: 50px;
}

.elencoBraniAlbum {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 0.783333401720063) 75%);
  width: 100%;
  min-height: 100vh;
  opacity: 99%;
  left: 0;
}

.buttonPreferit {
  width: 60px;
  background-color: transparent;
  border: none;
}

.buttonPreferit:hover {
  transform: scale(1.1);
  translate: 200ms;
  color: white;
}

svg:hover {
  fill: white;
}

@media screen and (max-width: 767px) {
  .elencoBraniAlbum {
    margin-bottom: 8rem;
  }
}

.ImgDiv {
  min-width: 232px;
}
.textColor {
  color: #b3b3b3;
}

@media screen and (min-width: 768px) {
  main {
    height: inherit;
  }
}

.positionMobyle {
  background-color: #262626;
  position: fixed;
  z-index: 99;
  bottom: 100px;
}
