body {
  background-color: black;
}

.navbar {
  margin: 0;
  width: 300px;
  min-height: 100vh;
  background-color: black;
  display: inline-block;
}
.svgLogo {
  width: 90px;
  color: white;
  padding-bottom: 10px;
}

.aHome {
  text-decoration: none;
  color: #b3b3b3;
}
.aHome:hover {
  color: white;
}
.div1 {
  width: 100%;
  background-color: #141415;
  border-radius: 20px;
  padding: 20px;
}

.nextBtn {
  background: rgb(40, 29, 29);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50px;
  margin-right: 5px;
}
.btnAccedi {
  background-color: white;
  border-radius: 20px;
  border: none;
}
.main-grid {
  background-color: #d96b6b;
}
body {
  font-family: "Circular";
  background-color: #000000;
}

.page-container {
  width: 100%;
  min-height: 100vh;
}

.nav-container {
  width: 350px;
}

.main-container {
  width: calc(100% - 600px);
}

.activity-container {
  width: 250px;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

a:hover {
  color: #ffffff;
}

li {
  list-style: none;
  height: 30px;
}

.profile-pic {
  width: 40px;
}

main {
  background-color: #ceb349;
}

.btn-dark {
  background-color: #000000 !important;
}

.btn-success {
  background-color: #1db954;
}

.friends-activity {
  color: #b3b3b3;
}

.annunci {
  background: rgb(0, 0, 0);
  background: linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(28, 28, 28, 1) 80%);
}

.hide-annunci {
  background-color: #222222;
  border: none;
  color: #b3b3b3;
}

.hide-annunci:hover {
  background-color: #222222;
}

.hero-img {
  width: 200px;
}

.main-grid {
  background-color: #2c2c2c;
}

.aHome {
  text-decoration: none;
  color: #b3b3b3;
}
.aHome:hover {
  color: white;
}
.iscriviti {
  color: black;
}

.imgArtistAlbum {
  border-radius: 50px;
}

.elencoBraniAlbum{
  background: linear-gradient(to right, blue, green);
