body {
  font-family: "Circular";
  background-color: #000000;
  color: #b3b3b3;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

a:hover {
  color: #ffffff;
}

.menu-btn {
  background-color: #232323;
  color: #b3b3b3;
  margin-right: 1em;
  cursor: pointer;
}

.menu-btn:hover {
  color: #ffffff;
}

li {
  list-style: none;
}

.page-container {
  height: calc(100vh - 75px);
}

.main-container {
  flex-grow: 1;
  overflow-y: auto;
}

.right-sidebar {
  background-color: #121212;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.menu-btn {
  background-color: #232323;
  color: #b3b3b3;
  margin-right: 1em;
}

/* Right Bar */

.annunci {
  background: rgb(0, 0, 0);
  background: linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(28, 28, 28, 1) 80%);
}

.friends-activity-container {
  color: #b3b3b3;
  height: calc(100vh - 112px);
  overflow: auto;
}

.hide-annunci {
  background-color: #222222;
  color: #b3b3b3;
}

.card-personalised {
  background-color: #181818;
  color: #b3b3b3;
  border: none;
}

/* Player Bar */

footer {
  height: 75px;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-flex-div {
  width: 30%;
}

.song-bar {
  width: 80%;
}

.volume-bar {
  width: 15%;
}

.mobile-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(28, 28, 28, 0.8154897494305239) 100%);
  color: #b3b3b3;
}

.mobile-navbar button {
  width: 30%;
}

.mobile-navbar svg {
  width: 100%;
}

.mobile-navbar nav {
  background-color: transparent;
}

nav {
  background-color: #121212;
}

.mobile-player {
  background-color: #262626;
  position: fixed;
  z-index: 99;
  bottom: 100px;
}

/* MEDIA QUERY  */

@media screen and (max-width: 767px) {
  main {
    height: (100vh - 160px);
    margin-bottom: 3em;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px;
    width: 250px;
  }

  .playlists-container {
    overflow: auto;
    height: calc(100vh - 375px);
  }

  main {
    background-color: #1c1c1c;
    width: calc(100vh - 85px);
  }
}

@media screen and (min-width: 992px) {
  .activity-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 230px;
  }

  .friends-activity-container {
    color: #b3b3b3;
    height: calc(100vh - 110px);
    overflow: auto;
  }

  .profile-pic {
    width: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .activity-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 230px;
  }
}

@media screen and (min-width: 1400px) {
  .nav-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 420px;
    width: 420px;
  }

  main {
    width: calc(100vh - 75px);
  }

  .activity-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
  }

  .playlists-container {
    overflow: auto;
    height: calc(100vh - 367px);
  }

  .profile-pic {
    width: 50px;
  }

  .friends-activity-container {
    color: #b3b3b3;
    height: calc(100vh - 103px);
    overflow: auto;
  }

  .page-container {
    height: calc(100vh - 67px);
  }
}

/* MEDIA QUERY H1 Testo Artista */
/* Dimensioni del testo personalizzate per artist-name */

@media (min-width: 1200px) {
  #artist-name {
    font-size: 4.5rem;
  }
}

@media (max-width: 1200px) {
  #artist-name {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  #artist-name {
    font-size: 2rem;
  }
}

/* blocco centrale */

.track-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-info {
  flex: 2;
  display: flex;
  align-items: center;
}

.songDuration {
  margin-left: 100px;
}

.track-duration {
  flex: 1;
  text-align: right;
}

main {
  background: linear-gradient(to bottom, #2d2d2d, #000000);
}

.artist-header {
  background-size: cover;
  background-position: center;
  height: 300px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.artist-listeners {
  padding-top: 120px;
}

.up-buttons {
  justify-content: space-between;
}

.my {
  width: 25px;
  height: 25px;
}
.follow {
  padding-top: 15px;
  padding-bottom: 15px;
}

.follow-button {
  margin-right: 15px;
  margin-left: 15px;
}

h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}
.popular-tracks h2,
.liked-songs h2 {
  font-size: 1.2rem;
}

.popular-tracks ul,
.liked-songs ul {
  padding: 0;
  list-style: none;
}

.popular-tracks ul li,
.liked-songs ul li {
  font-size: 1rem;
  margin: 10px 0;
}

.img-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 0;
  object-fit: cover;
  padding: 0;
  margin-right: 10px;
}

.list-unstyled li {
  justify-content: space-between;
}

h1 {
  text-shadow: 1px 1px #000000;
}

.volume-progress {
  width: 25%;
  height: 7px;
}

.song-progress {
  width: 70%;
  height: 7px;
}

.play-btn {
  background-color: #1db954;
}

.play-btn:hover {
  background-color: #1db954 !important;
}

.volume-slider {
  width: 25%;
  accent-color: #1db954;
}
