body {
  font-family: "Circular";
  background-color: #000000;
  color: #b3b3b3;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

a:hover {
  color: #ffffff;
}

li {
  list-style: none;
}

.page-container {
  height: calc(100vh - 75px);
}

.main-container {
  flex-grow: 1;
}

.right-sidebar {
  background-color: #121212;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.menu-btn {
  background-color: #232323;
  color: #b3b3b3;
  margin-right: 1em;
  cursor: pointer;
}

.menu-btn:hover {
  color: #ffffff;
}

.friends-activity-container {
  color: #b3b3b3;
  height: calc(100vh - 112px);
  overflow: auto;
}

nav {
  background-color: #121212;
}

footer {
  height: 75px;
  background-color: #000000;
  position: fixed;
}

.footer-flex-div {
  width: 30%;
}

.song-bar {
  width: 80%;
}

.volume-bar {
  width: 15%;
}

.mobile-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(28, 28, 28, 0.8154897494305239) 100%);
  color: #b3b3b3;
}

.mobile-navbar button {
  width: 30%;
}

.mobile-navbar svg {
  width: 100%;
}

.mobile-navbar nav {
  background-color: transparent;
}

.volume-progress {
  width: 25%;
  height: 7px;
}

.song-progress {
  width: 70%;
  height: 7px;
}

.play-btn {
  background-color: #1db954;
}

.play-btn:hover {
  background-color: #1db954 !important;
}

.volume-slider {
  width: 25%;
  accent-color: #1db954;
}

@media screen and (max-width: 767px) {
  main {
    height: (100vh - 160px);
    margin-bottom: 3em;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px;
    width: 250px;
  }

  .playlists-container {
    overflow: hidden;
    height: calc(100vh - 384px);
  }

  main {
    background-color: #1c1c1c;
    width: calc(100vh - 85px);
  }
}

@media screen and (min-width: 992px) {
  .activity-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 230px;
  }

  .friends-activity-container {
    color: #b3b3b3;
    height: calc(100vh - 110px);
    overflow: auto;
  }

  .profile-pic {
    width: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .activity-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 230px;
  }
}

@media screen and (min-width: 1400px) {
  .nav-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 420px;
    width: 420px;
  }

  main {
    width: calc(100vh - 75px);
  }

  .activity-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
  }

  .playlists-container {
    overflow: auto;
    height: calc(100vh - 367px);
  }

  .profile-pic {
    width: 50px;
  }

  .friends-activity-container {
    color: #b3b3b3;
    height: calc(100vh - 103px);
    overflow: auto;
  }
}
