body {
  font-family: "Circular";
  background-color: #000000;
  color: #b3b3b3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

.page-container {
  min-height: 100vh;
}

.nav-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 420px;
}

.main-container {
  width: calc(100% - 600px);
}

.activity-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 250px;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

a:hover {
  color: #ffffff;
}

li {
  list-style: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.menu-btn {
  background-color: #232323;
  color: #b3b3b3;
}

.profile-pic {
  width: 40px;
}

main {
  background-color: #1c1c1c;
}

.btn-dark {
  background-color: #000000 !important;
}

.btn-success {
  background-color: #1db954;
}

.friends-activity {
  color: #b3b3b3;
}

.annunci {
  background: rgb(0, 0, 0);
  background: linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(28, 28, 28, 1) 80%);
}

.hide-annunci {
  background-color: #222222;
  border: none;
  color: #b3b3b3;
}

.hide-annunci:hover {
  background-color: #222222;
}

.hero-img {
  width: 200px;
}

.main-grid {
  background-color: #2c2c2c;
}

.card {
  background-color: #181818;
  color: #b3b3b3;
  border: none;
}

.card-title {
  color: #ffffff;
}

.main-item {
  background-color: #2c2c2c;
}

nav {
  background-color: #121212;
}
