body {
  font-family: "Circular";
  background-color: #000000;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

a:hover {
  color: #ffffff;
}

li {
  list-style: none;
  height: 30px;
}

.profile-pic {
  width: 100%;
}

main {
  background-color: #1c1c1c;
}

.hero-img {
  width: 100%;
}

.btn-dark {
  background-color: #000000 !important;
}
