.card {
    position: relative;
    width: calc(18% - 20px);
    height: 150px;
    margin: 10px;
    overflow: hidden;
  }

  
  .card:nth-child(odd) {
    background-color: #ff7f7f; /* Rosso chiaro */
  }
  
  .card:nth-child(even) {
    background-color: #7fbfff; /* Blu chiaro */
  }
  
  .card h2 {
    position: absolute;
    font-size: 1.5em;
    color: white;
    z-index: 2;
  }
  
  .card img {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100px;
    height: 100px;
    transform: rotate(-15deg);
    z-index: 1;
  }
  